$categoryactivecolor: #364A5D;
$list-background-color: #B3C0C7;

.active {
  background-color: $categoryactivecolor
}

.menu-item {
  padding-top: 1vh;
  padding-bottom: 1vh;
  list-style: none;
  border-style: solid;
  margin: auto;
  border-width: 1px;
  width: 90%;
  font-size: 2vh;
  margin-top: 1.5vh;
  padding-left: 2vmin;
  background-color: $list-background-color;
  font-style: oblique;
  line-height: 80%;
  height: auto;
  padding-right: 2vw;
  overflow: hidden;
}

.float-right {
  float: right;
}

.unavailable {
  background-color: #E8D2D5;
}
